html, body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #9DBEBB, #77ACA2, #468189, #031926);
  background-attachment: fixed;
}

#menu {
  box-sizing: border-box;
  margin: 0px;
  padding: 30px;
  position: relative;
  left: 0px;
  top: 0px;

  width: 300px;
  height:100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 15px;
  /*background: rgba(255, 255, 255, 0.7);*/
}

.titulo {
  font-size: 60px;
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.subtitulo {
  font-size: 30px;
  margin-top: 0px;
  display: block;
}

#explorarBTN {
  background-color: #068D9D;
  color: white;
  font-size: 15px;
  font-family: "Concert One", sans-serif;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

#explorarBTN:hover {
  background-color: #042A2B !important ;
}

#opcionesBTN {
  background-color: #068D9D;
  color: white;
  font-size: 15px;
  font-family: "Concert One", sans-serif;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;

  .concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

}

#opcionesBTN:hover {
  background-color: #042A2B !important ;
}
