html, body {
  background-image: linear-gradient(to bottom, #9DBEBB, #77ACA2, #468189, #031926);
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden !important;
}

#menu {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  position: relative;
  left: 0px;
  top: 0px;
  width: 500px;
  height: 1000vh;

  display: flex;
  flex-direction: column;
  justify-content: top; 
  align-items: center;

  gap: 15px;
  background-color: #FFFFFF80;
  
  transition: transform 0.6s ease; }
  
.titulo {
  font-size: 70px;
  margin-bottom: 5px;
  margin-top: 200px;
  font-weight: bold;
  display: block;
  color: white;
  -webkit-text-stroke: 1px teal;
}

.subtitulo {
  font-size: 30px;
  margin-top: 0px;
  display: block;
  color: teal;
}

#explorarBTN {
  background-color: #068D9D;
  color: white;
  font-size: 20px;
  font-family: "Concert One", sans-serif;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

#explorarBTN:hover {
  background-color: #042A2B !important ;
}

#opcionesBTN {
  background-color: #068D9D;
  color: white;
  font-size: 20px;
  font-family: "Concert One", sans-serif;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}
  .concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#opcionesBTN:hover {
  background-color: #042A2B !important ;
}

#volverBTN {
position: fixed;
top: 20px;
left: 20px;
z-index: 99999;
-webkit-transform: translate3d(500px, 0, 0);
will-change: transform, opacity;
font-size: 30px;
background: none;
border: none;
cursor: pointer;
opacity: 0;
transform: translateX(500px);
transition: transform 0.6s ease;
}

#regla {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  position: sticky;
  top: 0px;
  left: 0px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: left; 
  align-items: left;

  will-change: opacity;
  opacity: 0;
  transition: transform 0.6s ease;
}